@import 'global.css';
@import 'responsive.css';
@import 'header.css';
@import 'homepage.css';

.page {
  margin: 0 !important;
}

.page-container {
  width: 40%;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .page-container {
    width: 90%;
  }
}